/*------------------------------------*\
	GENERAL
\*------------------------------------*/   

body {
    padding: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 75%;
    background: white;
    color: #666;
    }

#map { 
    height: 500px; 
    width: 700px; 
    background:white; 
    position: absolute; 
    top: 155px; 
    left: 0px; 
    z-index: -1; 
    }
    
#legend { 
    width:120px;
    height: auto;
    position: absolute;
    margin-left: 60px;
    top:500px;
    background-color: white;
    z-index: 5;
    padding: 4px;
    display: none;
    }
    
#contribute { 
    position:absolute;
    top: 300px;
    left:900px;
    }
    
#info { 
    position:absolute;
    top: 320px;
    left:900px;
    }
    
#chart { 
    position:absolute;
    top: 700px;
    left:30px;
    }
    
/*------------------------------------*\
	BUTTONS
\*------------------------------------*/   
    
#infocolumn {
    width: 300px;
    height: auto;
    background-color: white;
    top: 200px;
    left: 700px;
    }
    
.method_group {
    left: 10px
    }
    
.place_group {
    left: 10px
    }
    
.layer_group {
    left:10px
    }
    
.button {
    float:left;
    }
    
    
    
    
/*------------------------------------*\
	CONTROLS
\*------------------------------------*/   
            
img.northarrow { 
    position:absolute;
    top:600px;
    left:30px;
    z-index:2;
    }
           
#menu {
    top:500px;
    left:28px;
    position: absolute;
    }
    
/*------------------------------------*\
	OL3 OVERRIDE
\*------------------------------------*/   
    
.ol-control button{
    display:block;
    margin:1px;
    padding:0;
    color:black;
    font-size:1.5em;
    font-weight:700;
    text-decoration:none;
    text-align:center;
    height:30px;
    width:30px;
    line-height:.4em;
    background-color:white;
    border-style:solid;
    border-width:2px;
    border-color: black;
    border-radius:4px
    }
    
.ol-control button:focus,.ol-control button:hover{
    text-decoration:none;
    color:black;
    background-color:white;
    border-style:solid;
    border-width:2px;
    border-color:red;
    }
    
.ol-zoom .ol-zoom-in{
    border-radius:4px 4px 0 0
    }
.ol-zoom .ol-zoom-out{
    border-radius:0 0 4px 4px
    }
    

p.copyright {
    position:absolute;
    top:1750px; 
    left:460px; 
    }
            
p.white {
    color:white;
    }
            
            .thumb1, .thumb2 {
                position: relative;
                width: 300px;
                height: 300px;
            }

            .caption1 {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                opacity: 0.6;
            }
            
            .caption2 {
                display: none;
                position: absolute;
                padding: 40px;
                vertical-align: text-middle;
                top: 0;
                left: 0;
                bottom: 0;
                color: black;
                z-index: 1;
            }
            .thumb1:hover .caption1 {
                display: block;
            }
            .thumb2:hover .caption2 {
                display: block;
            }

    
            table.index {  
            position: absolute;
            width: 900px;
            height: 1500px;
            margin-top:175px;
            margin-left: 75px;
            }

    
            
            td.text {
            width: 300px;
            padding: 40px;
            margin: 0px;
            border: 0;
            z-index: -1;
            }
            
            td.grey {
            width: 300px;
            padding: 40px;
            margin: 0px;
            background-color: #e9e9e9;
            border: 0;
            z-index: -1;
            }
            
            td {
            width: 300px;
            padding: 0px;
        
            }
            
            td#te_03{
                background-image: url(images/te/te_03.jpg);
                }
            table, td{
                border:collapse;
                }
            
            tr {
            height: 300px;
            }
            
            

            
            ul.nobullet {
            list-style-type:none;
            margin:0;
            padding:0;
            }
            ul.hnav {
            list-style-type:none;
            margin:0;
            padding:0;
            overflow: hidden;
            z-index: 1;

            }
            
            
            li.hnav-about {
            position: absolute;
            top:180px;
            left:94px;
            z-index: 1;
            }
            li.hnav-map {
            position: absolute;
            top:180px;
            left:245px;
            z-index: 1;
            }
            li.hnav-blog {
            position: absolute;
            top:180px;
            left:389px;
            z-index: 1;
            }
            li.hnav-partners {
            position: absolute;
            top:180px;
            left:526px;
            z-index: 1;
            }
            li.hnav-en {
            position: absolute;
            top:180px;
            left:850px;
            z-index: 1;
            }
            li.hnav-fr {
            position: absolute;
            top:180px;
            left:880px;
            z-index: 1;
            }
            li.hnav-menu {
            font-family: "Myriad Pro";
            font-size: 110%;
            font-weight: bold;
            color: black;
            z-index: 1;
            }
            
            
            a.button hover{
                
            }
            
            a.hnav-menu {
            font-family: "Myriad Pro";
            font-size: 110%;
            font-weight: bold;
            color: black;
            background-color:white;
            z-index: 1;
            }
            
            li.vnav {
            text-align:left
            }
            body a:hover {
            color: red;
            }
            
            a:link {text-decoration:none;}    /* unvisited link */
            a:visited {text-decoration:none;} /* visited link */
            a:hover {text-decoration:none;}   /* mouse over link */
            a:active {text-decoration:none;}  
            
    
            a[h ref="mailto:"] { 
            font-family: sans-serif;
            color: black;
            }

            .highlightit img{
            border: 2px;
            color: black;
            }

            .highlightit:hover img{
            border: 2px;
            color: red;
            }

            .highlightit:hover{
            color: #f7f7f7; /* Dummy definition to overcome IE bug */
            }

            

                
            



body h1, body h2, body h3, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
 /* margin-bottom: 1.25em;*/
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;

}

body p#focus {
    font-size:1.5em;
    line-height:1.2em;
    color:#000000;
}


}
body a:visited {
  color: #606060;
}
body a:focus {
  color: #606060;
}

body a:active {
  color: #606060;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong, body dfn {
  font-weight: bold;
}
body em, body dfn {
  font-style: italic;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}

body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;


}
body tfoot {
  font-style: italic;
}
body caption {
  background: #eeeeee;
}
body .quiet {
  color: #666666;
}
body .loud {
  color: #111111;
}
body .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body .column, body .span-1, body .span-2, body .span-3, body .span-4, body .span-5, body .span-6, body .span-7, body .span-8, body .span-9, body .span-10, body .span-11, body .span-12, body .span-13, body .span-14, body .span-15, body .span-16, body .span-17, body .span-18, body .span-19, body .span-20, body .span-21, body .span-22, body .span-23, body .span-24 {
  display: inline;
  float: left;
  margin-right: 10px;
}
* html body .column, * html body .span-1, * html body .span-2, * html body .span-3, * html body .span-4, * html body .span-5, * html body .span-6, * html body .span-7, * html body .span-8, * html body .span-9, * html body .span-10, * html body .span-11, * html body .span-12, * html body .span-13, * html body .span-14, * html body .span-15, * html body .span-16, * html body .span-17, * html body .span-18, * html body .span-19, * html body .span-20, * html body .span-21, * html body .span-22, * html body .span-23, * html body .span-24 {
  overflow-x: hidden;
}




a, button {
  outline: none;
  overflow: hidden;
}


    